body {
  background-color: #f5f7fa;
  font-family: "Montserrat", sans-serif;
}
.main-conteiner {
  display: flex;
  flex-direction: row-reverse;
  width: 1300px;
  background: #fff;
  margin: 40px auto;
  box-shadow: 6px 6px 20px rgba(0, 0, 0, 0.1);
}

/* main content */

.main-content-section {
  padding: 100px 90px;
}

.main-content-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 25px;
  color: #000;
  margin-bottom: 10px;
}

/* about-me-section */

.about-me-section {
  /* font-style: normal; 
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;*/
  margin: 0 0 40px 0;
}

.about-me-proffession {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin: 0 0 20px 0;
}
.about-me-name {
  font-style: normal;
  font-weight: bold;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin: 0 0 25px 0;
}
.about-me-description {
  width: 400px;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

/* my-projects-section */

.my-projects-section {
  margin-bottom: 50px;
}
.my-projects-list {
  padding: 0 0 0 18px;
}
.my-projects-item {
  color: #000;
  font-weight: bold;
}
.my-projects-link {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-projects-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
  margin-left: 5px;
}
.my-projects-brecket {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
/* my-work-experience-company */
.my-work-experience-company {
  color: #fb6d3a;
}
.my-work-experience-position {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  margin: 0 0 10px 0;
}
.my-work-experience-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-work-experience-divider {
  color: #000;
}
.my-work-experience-duties {
  padding: 0 0 0 18px;
}
.my-work-experience-duty {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.my-work-experience-company-block {
  margin: 0 15px 0 0;
}

/* My education */
.my-education-section {
  margin: 0 15px 0 0;
}
.my-university-name {
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 20px;
  color: #fb6d3a;
  margin: 0 0 10px 0;
}
.my-university-prof {
  font-style: normal;
  font-weight: bold;
  font-size: 14px;
  line-height: 17px;
  color: #000000;
}
.my-education-period {
  font-style: normal;
  font-weight: normal;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin: 0 0 10px 0;
}
.my-education-period-divider {
  color: #000;
}

/*side-bar-section  */
.side-bar-section {
  background: #1e2939;
  width: 370px;
  padding: 40px 0;
}
.Contact-section,
.Tech-Skills-section {
  margin: 50px 0 0 40px;
}

.sidebar-title {
  font-style: normal;
  font-weight: bold;
  font-size: 22px;
  line-height: 27px;
  color: #ffffff;
  margin-bottom: 10px;
}
/* contacts section */
.contact-section-type {
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
  margin-right: 5px;
}

.contact-section-link {
  color: #565e6a;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
}
/* tech-Skills-list */
.tech-Skills-list {
  padding: 0 0 0 17px;
}
.tech-Skills-item {
  color: #fb6d3a;
}
.tech-Skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: #fff;
}

/* Soft-Skills-section  */

.Soft-Skills-section {
  margin: 50px 0 0 40px;
}
.Soft-Skills-list {
  padding: 0 0 0 17px;
}
.Soft-Skills-item {
  color: #fb6d3a;
}
.Soft-Skills-item-text {
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  color: white;
}
